In [1]:
import pandas as pd
import numpy as np

# Pandas Series

In [ ]:
# explained 
# https://www.datasciencemadesimple.com/create-series-in-python-pandas/

In [10]:
"""

    Pandas Series is a column of table.
    It is one-dimension array.

    Labels is index of series for using get value which can refer to value.
    
    `series["a"]`

    if not specific get value be like `series[0]`
"""
 
series = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
series

a    0.462334
b    1.192695
c    0.008224
d    0.050993
e   -0.322666
dtype: float64

In [52]:
"""
 Create a series with dict
"""

data = {
    "a" : 1,
    "b" : 2,
    "c" : 3,
    "d" : 4
}

s = pd.Series(data)

c    3
dtype: int64

In [67]:
"""
 Series is ndarray-like
 
 `Slice` index

"""

s[:2] # index 0 to n-1

a    1
b    2
dtype: int64

In [73]:
"""

Statistical methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

"""
print("========= Statistic =========")

print(s[ s > s.median()])

print("========= combine with numpy ==========")

print(np.exp(s))

========= Statistic =========
c    3
d    4
dtype: int64
========= combine with numpy ==========
a     2.718282
b     7.389056
c    20.085537
d    54.598150
dtype: float64

In [76]:
"""
If a label is not found
in one Series or the other, the result will be marked as missing NaN
"""

print(s[1:2])
print(s[1:3])

# not found a label "c" and then replace with NaN
print(s[1:2] + s[1:3])

b    2
dtype: int64
b    2
c    3
dtype: int64
b    4.0
c    NaN
dtype: float64

In [79]:
"""
    we can eliminate NaN using `dropna`
"""

s_nan = (s[1:2] + s[1:3])
s_nan.dropna()

b    4.0
dtype: float64

In [91]:
"""
    Name Atrribute

    Series name is a colum name when using in dataframe
"""

s_name = pd.Series([1,2,3],index=['a','b','c'], name="series_name")

# Create DataFrame given a series
df = pd.DataFrame(s_name)
df

   series_name
a            1
b            2
c            3

# DataFrame

In [ ]:
# explained
# https://www.datasciencemadesimple.com/create-series-in-python-pandas/

In [ ]:
"""

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
You can think of it like a spreadsheet or SQL table, or a dict of Series objects.

you can optionally pass index (row labels) and columns (column labels) arguments.

DataFrame accepts many different kinds of input:

    • Dict of 1D ndarrays, lists, dicts, or Series
    • 2-D numpy.ndarray
    • Structured or record ndarray (https://numpy.org/doc/stable/user/basics.rec.html#structured-arrays)
    • A Series
    • Another DataFrame

"""

In [119]:
"""
    Create DataFrame from dict of series
"""

s_1 = pd.Series([1,2,3],index=["a", "b", "c"])
s_2 = pd.Series([4,5,6],index=["a", "b", "c"])

dict_s = {
    "s_1" : s_1,
    "s_2" : s_2
}

# s_3: there isn't that column name which replace by NaN
d = pd.DataFrame(dict_s, columns=['s_1', "s_2", "s_3"])

print(d)

s_3 = pd.Series([7,8,9],index=["a", "b", "c"])
d["s_3"] = s_3

print("\n========== Add a new series 3 ============")
print(d)

   s_1  s_2  s_3
a    1    4  NaN
b    2    5  NaN
c    3    6  NaN

========== Add new series 3 ============
   s_1  s_2  s_3
a    1    4    7
b    2    5    8
c    3    6    9

In [128]:
"""

    create pandas from structured or record array

"""

data = np.ones(shape=(2,),dtype=[("No_1", "i4"), ("One", "i4")])
pd.DataFrame(data)

   No_1  One
0     1    1
1     1    1